@font-face {
  font-family: DancingScript-bold;
  src: url(./static/DancingScript-Bold.ttf);
}
@font-face {
  font-family: d-medium;
  src: url(./static/DancingScript-Medium.ttf);
}
@font-face {
  font-family: d-regular;
  src: url(./static/DancingScript-Regular.ttf);
}
@font-face {
  font-family: d-semi;
  src: url(./static/DancingScript-SemiBold.ttf);
}
@font-face {
  font-family: d-var;
  src: url(./DancingScript-VariableFont_wght.ttf);
}
a:hover {
  @include nav-effect();
}




@mixin nav-effect {
    color: white;
    &::after{
        content: "";
        width: 30px;
        height: 2px;
       
        position: absolute;
        left: 0;
        bottom: 0;
        transition-duration: 0.3s;
    }
    
}
@mixin screen {
    background-image: url(./img/hero-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container {
  width: 1140px;
  margin: auto;
}
.fullscrenn {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
nav {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: black;
  color: white;
  padding: 20px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-family:DancingScript-bold ;
      text-transform: capitalize;
      font-size: 30px;
    }
    .navs {
      display: flex;
      li {
        a {
          font-size: 20px;
          padding: 10px 0px;
          margin: 0 15px;
          text-transform: capitalize;
          color: rgba(255, 255, 255, 0.7);
          font-family: d-semi ;
          position: relative;
      }
    }
  }
  }
}